@model skress.Models.DataInstructorTable

@{
    ViewData["Title"] = "Create";
}

<h1>Создание записи</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_visitor" class="control-label">ID Пользователя</label>
                <input asp-for="Id_visitor" class="form-control" />
                <span asp-validation-for="Id_visitor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Instructor" class="control-label">Инструктор</label>
                <select asp-for="Id_Instructor" class="form-control" asp-items="ViewBag.InstructorList"></select>
                <span asp-validation-for="Id_Instructor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeStart" class="control-label">Время начала</label>
                <input asp-for="TimeStart" class="form-control" />
                <span asp-validation-for="TimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeEnd" class="control-label">Время окончания</label>
                <input asp-for="TimeEnd" class="form-control" />
                <span asp-validation-for="TimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать запись" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Отменить создание записи</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
